<% layout('/layouts/boilerplate') -%>
    <div class="edit-container">
        <h2>Edit Your Response</h2>
        
        <div class="post-info">
            <p><span class="username">Username:</span> @<%= post.username %></p>
        </div>

        <form action="/posts/<%=post.id%>?_method=PATCH" method="post">
            <textarea name="post[content]" placeholder="Edit your post content..."><%= post.content %></textarea>
            <button type="submit">Update Post</button>
        </form>
    </div>


     