<% layout("/layouts/boilerplate.ejs") -%>
    <div class="form-container">
        <div class="form-header">
            <h1>Join Smaash Posts</h1>
            <p>Share your thoughts with the community</p>
        </div>

        <style>
            .form-group{
                margin-bottom: 0;
            }
        </style>
        <form action="/signup" method="post" data-aos="fadeup">
            <div class="form-group">
                <label for="user">Username</label>
                <input type="text" name="username" id="user" placeholder="username" maxlength="15" required minlength="3">
                <div class="character-count"><span id="username-count">15</span> characters remaining</div>
            </div>

             <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Email" required maxlength="20">
            </div>

            
             <div class="form-group">
                <label for="password">Paaswrord</label>
                <input type="password" name="password" id="password" placeholder="password" maxlength="15" minlength="4">
            </div>
            
           
            
            <button type="submit" class="submit-btn">Sign Up</button>
        </form>
    </div>

   